@font-face {
  font-family: 'SourceSansPro';
  src: url('/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'LatoRegular';
  src: url('/fonts/Lato-Regular.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: SourceSansPro, LatoRegular, Roboto;
}

#markdown h2 {
  font-size: 24px;
  color: #333333;
  font-style: normal;
  line-height: 30px;
}

#app.dark #markdown h2 {
  transition: color .25s ease;
  color: #E0E0E0;
}

#markdown strong {
  display: inline-block;
  font-family: LatoRegular, Roboto;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 0;
}

#markdown p {
  color: #4F4F4F;
  font-family: LatoRegular, Roboto;
  line-height: 22px;
  font-size: 18px;
}

#app.dark #markdown p {
  transition: color .25s ease;
  color: #BDBDBD;
}

#markdown blockquote {
  font-family: LatoRegular, Roboto;
  color: #828282;
}

#markdown hr {
  display: block;
  margin: 30px 0 20px;
  border: 1px solid #BDBDBD;
}

#app.dark #markdown hr {
  transition: border-color .25s ease;
  border-color: #4F4F4F;
}

#app.dark {
  transition: background-color .25s ease;
  background-color: #101115;
}

#markdown a {
  text-decoration: none;
}

#markdown a:visited {
  color: #5154A9;
}