---
import { readFile } from "node:fs/promises";
import { cwd } from "node:process";
import path from "node:path";
import { parse } from "marked";
import { languages } from "$i18n/languages.js";
import MarkdownLanguageProvider from "./MarkdownLanguageProvider.svelte";

const { page } = Astro.props;

const baseRoot = cwd();
const langPaths = languages.map((lang) =>
    readFile(
        path.resolve(baseRoot, "src/markdown", page, `${lang}.md`),
        "utf-8",
    ),
);
const [EN, RU] = await Promise.all(langPaths).then((data) =>
    data.map((md) => parse(md)),
);
---

<div id="markdown" class={page}>
    <MarkdownLanguageProvider client:load RU={RU} EN={EN} />
</div>
