---
import Title from './Title.svelte'
import LanguageToggle from './LanguageToggle.svelte'
import Navigation from './Navigation.svelte'
import CurrentPageTitle from './CurrentPageTitle.svelte'

import SocialPanel from './SocialPanel.astro'
import Avatar from './Avatar.astro'

---

<header class="header">
    <div class="header-top">
        <Title client:load />
        <LanguageToggle client:load />
        <SocialPanel />
    </div>
    <div class="header-bottom">
        <Avatar />
        <Navigation client:load />
    </div>
    <div class="current-page-title-wrapper">
        <CurrentPageTitle client:load />
    </div>
</header>

<style>
    .header {
        height: 200px;
        background-color: #f9f0f0;
        position: relative;
        margin-bottom: 50px;
    }
    :global(#app.dark .header)  {
        transition: background-color .25s ease;
        background-color: grey;
    }
    .current-page-title-wrapper {
        position: absolute;
        bottom: -50px;
        left: 25%;
        width: 75%;
        overflow: hidden;
    }
</style>
