---
import Title from './Title.svelte'
import LanguageToggle from './LanguageToggle.svelte'
import ThemeToggle from './ThemeToggle.svelte'
import Navigation from './Navigation.svelte'
import CurrentPageTitle from './CurrentPageTitle.svelte'
import Avatar from './Avatar.astro'
---

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="title-wrap">
                <Title client:load />
            </div>
            <div class="controllers-wrap">
                <LanguageToggle client:load />
                <ThemeToggle client:load />
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <Avatar />
            <CurrentPageTitle client:load />
            <Navigation client:load />
        </div>
    </div>
</header>

<style>
    .header {
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
    }
    .header-top, .header-bottom {
        padding: 0 50px;
        display: flex;
        justify-content: center;
    }
    .header-top {
        height: 74px;
    }
    .header-bottom {
        background-color: #F5F7FD;
        height: 140px;
    }
    :global(#app.dark .header-bottom) {
        transition: background-color .25s ease;
        background-color: #15161B;
    }
    .controllers-wrap {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    @media screen and (max-width: 1024px) {
        .header-top, .header-bottom {
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 650px) {
        .header-top {
            height: 98px;
            position: relative;
        }
        .controllers-wrap {
            align-self: flex-start;
            margin-top: 16px;
            width: 100%;
            justify-content: space-between;
        }
        .title-wrap {
            position: absolute;
            left: 0;
            bottom: 20px;
        }
    }
</style>
