<div class="social-panel">
    <a href="https://linked.in" target="_blank">
        li
    </a>
    <a href="https://linked.in" target="_blank">
        tg
    </a>
</div>

<style>
    .social-panel a {
        color: black;
    }
    :global(#app.dark .social-panel a)  {
        color: white;
    }
</style>