<header class="header">
    <span class="test">
        Тут будет хэдер
    </span>
    <nav>
        <a href="/">Главная</a>
        <a href="/about">Обо мне</a>
        <a href="/blog">Блог</a>
    </nav>
</header>

<style>
    .header {
        height: 200px;
        background-color: #f9f0f0;
    }
    .test {
        color: greenyellow;
    }
</style>
