---
    const socials = [
        {
            url: 'https://www.linkedin.com/in/valeron1289/',
            icon: '/assets/icons/linkedin.svg',
        },
        {
            url: 'https://t.me/valerii_kuzivanov',
            icon: '/assets/icons/telegram.svg',
        },
        {
            url: 'http://github.com/valeronlol',
            icon: '/assets/icons/github.svg',
        },
        {
            url: 'https://medium.com/@valerka',
            icon: '/assets/icons/medium.svg',
        },
    ]

    const createUrlMask = (iconUrl: string) => (`
        mask-image: url(${iconUrl});
        -webkit-mask-image: url(${iconUrl});
    `)
---

<div class='social-panel'>
    {socials.map(({ url, icon }) => (
        <div class="image-wrap">
            
            <a
                href={url}
                target='_blank'
            >
                <span class='icon' style={createUrlMask(icon)} />
            </a>
        </div>
    ))}
</div>

<style>
    .social-panel {
        display: flex;
    }
    .social-panel a {
        color: black;
    }
    :global(#app.dark .social-panel a)  {
        color: white;
    }
    .image-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .image-wrap:not(:first-child) {
        margin-left: 16px;
    }
    .icon {
        display: block;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: #4F4F4F;
        transition: background-color .25s ease;
        mask-repeat: no-repeat;
        mask-position: center;
    }
    :global(#app.dark .social-panel .icon) {
        background-color: #DADADA;
    }
    .icon:hover {
        background-color: #5154A9 !important;
    }
</style>