---
import AvatarSrc from '$public/assets/icons/pdf.svg'
---

<a href="/assets/resume.pdf" download="valerii_kuzivanov" class="link" title="Download as PDF">
    <img
        src={AvatarSrc}
        alt="resume"
        class="resume"
    >
</a>

<style>
    .resume {
        height: 32px;
        margin-bottom: 20px;
    }
    .link {
        width: 32px;
    }
</style>