---
import '/style/global.css'
import Header from '$comp/Header/index.astro'
import Footer from '$comp/Footer/index.astro'
import { mainTitle } from '$const'
import ThemeProvider from '../components/hoc/ThemeProvider.svelte'
import CurrentPageTitle from '../components/CurrentPageTitle.svelte'
---

<html>
  <head>
    <title>{mainTitle}</title>
  </head>
  <body>
    <div id="app">
      <ThemeProvider client:load />
      <Header/>
      <div class="content">
        <div class="wrapper">
          <div class="page-title-wrap">
            <CurrentPageTitle client:load />
          </div>
          <slot />
        </div>
      </div>
      <Footer/>
    </div>
  </body>
</html>

<style>
  #app, body {
    height: 100vh;
  }
  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #app.dark {
    color-scheme: dark;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 100px 180px 50px;
    width: 100%;
    position: relative;
  }
  .page-title-wrap {
    position: absolute;
    height: 86px;
    top: -26px;
  }
</style>
